*{
    margin: 0;
    padding: 0;
}

html{
    height: 100% !important;
}

body {
    display: flex !important;
    min-height: 100% !important;
    flex-direction: column;
    background-color:#040000 !important ;
}
.bg-color{
    background-color: #040000 !important;
}
.customnav{
    background-color: #040000;
    height: 100px;
}
.customnav a{
    
    margin: 10px 10px;
}
.cus-a{
    color: #af9473 ;
}
.banner{
    background-image: url('../images/Banner.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
}

.banner_content{
    text-align: center;
    color: white;
    margin: 100px;
}

.cusbutton {
    margin: 20px;
    padding: 20px;
    background: linear-gradient(to bottom, #4CAF50, #45a049);
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .cusbutton:hover {
    padding: 30px;
    background: linear-gradient(to bottom, #45a049, #4CAF50);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

.lawyerscard{
    margin: 30px 0px;
    
}
.card{
    background-color: #615f65;
}
.cusimg{
    height: 185px;
}


.aboutus h2{
   margin-top: 40px;
}
.aboutus h4{
    margin-top: 25px;
}

footer{
    margin-top: auto;
    background-color: black;
    color: #af9473 !important;
}
footer h5{
    text-align: center;
    margin: 20px 0px;
}

.registerform{
    margin: 50px 0px;
}
.registerform h1{
    margin: 100px 0px;
}

.cusform{
    margin-top: 50px;
}
.cusbookingtable{
    width: 600px;
}
.cusblack{
    color: black;
}
.bookingrqst{
    margin: 50px;
}
.scontent{
    margin-top: 30px;
}
.profile_img{
    width: 150px;
    height: 150px;
    border-radius: 75px;
    border: 2px solid black;
    margin: 20px 0px;
    
}
.mainprofile{
    margin: 50px 0px;
}
.aboutusform{
    margin: 30px;
}
.bh1{
    margin-bottom: 0.5rem;
}
.bp1{
    margin-bottom: 20rem;
}
.adsb {
    background-color: #1c1b1b !important;
}
.butcol{
    color: #040000;
    background-color: #af9473;
    border-color: #af9473;
}
.butcol{
    color: #040000;
    background-color: #af9473;
    border-color: #af9473;
}
.butcol:hover{
    color: #040000;
}
.butmain{
    color: #af9473;
    border-color: #af9473;
}
.butmain:hover{
    color: black !important;
    background-color: #af9473 !important;
}
.btt1{
    padding-top: 1.5rem;
    padding-bottom: 1.2rem;
    background-color: #131214;
}
.c3{
    margin-top: 4rem;
    bottom: 3rem;
}
.hh4{
    padding-top: 1.5rem;
}
.btn-primary{
    color: #fff;
    background-color:#af9473 !important;
    border-color:#af9473 !important;
}
.ad{
    color: #1e7e34 !important;
    background-color: #212529 !important;
    border-color: #212529 !important;
}
  